<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <title>BOOLZAPP</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="col-left">
        <header class="head-left">
          <div class="profile">
            <img :src="user.avatar" alt="img nome utente" />
            <h3>{{user.name}}</h3>
          </div>
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </header>
        <div class="notifiche">
          <i class="fas fa-bell-slash"></i>
          <div>
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <p>Attiva notifiche desktop</p>
          </div>
        </div>
        <main class="main-left">
          <div class="search-chat">
            <i class="fas fa-search"></i>
            <input v-model='nomeCercato'
                   type="text" 
                   placeholder="Cerca o inizia una nuova chat" />
          </div>

          <div class="lista-utenti">
            <ul>
              <li
                v-for="(utente,index) in contacts"
                v-if="(utente.name.toUpperCase().includes(nomeCercato.toUpperCase())) ? utente.visible=true : utente.visible=false"
                @click="counterContact = index"
                :class="(index === counterContact) ? 'active' : null">
                <img :src="utente.avatar" alt="" />
                <span class="nameMess">
                  <p class="utentName">{{utente.name}}</p>
                  <p class="lastMessage">{{lastMessage(index)}}</p>
                </span>

                <span class="lastAccess">
                  <p>{{lastAccess(index)}} </p>
                </span>
              </li>
            </ul>
          </div>
        </main>
      </div>

      <div class="col-right">
        <header class="head-right">
          <div class="name-access">
            <img :src="contacts[counterContact].avatar" alt="" />
            <span>
              <h3>{{contacts[counterContact].name}}</h3>
              <p>Ultimo accesso: {{lastAccess(counterContact)}} </p>
            </span>
          </div>

          <div class="options-header-right">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </header>

        <main class="main-right">
          <div
            class="msg"
            v-for=" user in contacts[counterContact].messages"
            :class="user.status"
          >
            <div class="text-msg">
              <p>
                {{user.text}}
              </p>
              <i class="fas fa-chevron-down"></i>
            </div>
            <div class="date-send">{{user.date}}</div>
          </div>
        </main>
        <footer class="foot-right">
          <i class="far fa-smile"></i>
          <input
            v-model="messAggiunto"
            @keyup.enter="addMess()"
            type="text"
            placeholder="Scrivi un messaggio"
          />
          <i class="fas fa-microphone"></i>
        </footer>
      </div>
    </div>
    <!-- end #app -->

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/locale/it.js"></script>
    <script>
      dayjs.locale("it");
    </script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
